.transactionTable{
    margin-top: 32px; 
    padding: 48px 35px;    
    background-color: darkseagreen;
    border-radius: 15px;
    border: 2px solid palegreen;   
    font-size: 24px;
    border-spacing: 10px 5px;
    text-align: center;
    box-shadow: 10px 12px 12px 0px #02220ca2;
 
};

.transactionTable tr{      
        text-align: center;
        font-size: 36px;     
}

.transactionTable th{
    text-transform: uppercase;
    background-color: rgb(15, 96, 15);
    border-radius: 10px;
    box-shadow: 10px 12px 12px 0px #4c6851a4;
}


.transactionBody{  
        font-size: 24px;  
        text-align: center;    
        background-color: palegreen;
       
}

.transactionBody:nth-child(odd) {
    background-color: rgb(203, 232, 199);
}

.transactionTd{
    border-radius: 10px;
    box-shadow: 10px 12px 12px 0px greenyellow;
}
