.transactionTable{
    margin-top: 32px; 
    padding: 48px 35px;    
    background-color: darkseagreen;
    border-radius: 15px;
    border: 2px solid palegreen;   
    font-size: 24px;
    border-spacing: 10px 5px;
    text-align: center;
    box-shadow: 10px 12px 12px 0px #8883834d;
 
};

.transactionTable tr{      
        text-align: center;
        font-size: 36px;     
}

.transactionTable th{
    text-transform: uppercase;
    background-color: palegreen;
    border-radius: 10px;
    box-shadow: 10px 12px 12px 0px #4c6851a4;
}


.transactionBody{  
        padding: 5px;
        justify-content: space-between;
        border-radius: 10px;        
        font-size: 24px;  
        text-align: center;    
        background-color: palegreen;
        box-shadow: 10px 12px 12px 0px greenyellow;
       

}